---

- name: Ensure systemd is reloaded
  ansible.builtin.service:
    daemon_reload: true

- name: Ensure systemd services are stopped
  ansible.builtin.service:
    name: "{{ item.name }}"
    state: stopped
  with_items: "{{ systemd_services_list | sort (attribute='priority,name', reverse=true) }}"
